body{
    background-color: yellow;
}

.htag{
    border: 1px solid red;
    border-radius: px;
    margin: 30px;
    padding: 50px;
}

.h1h2 {
    display: flex;
    flex-direction: row;/*가로 정렬*/ /* row, column*/
    gap: 30px;
}

.h3h4{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.h1h2 h1{
    font-size: 30px;
    font-weight: lighter;
    color: blue;
}
.htag h5{
    text-align: center;
}
